/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation Bar */
nav {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar list */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Brand name (Charts) */
.brand {
    color: black;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}

/* Menu icon */
.menu-icon a img {
    width: 30px; /* Adjust the size of the menu icon */
    height: 30px;
    padding-left: 15px;
}

/* Home link */
.home-link a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-right: 15px;
}

/* Hover effect for home link */
.home-link a:hover {
    background-color: red;
    border-radius: 4px;
    color: white;
}

/* Responsive design */
/* Responsive design */
@media (max-width: 600px) {
    .menu-icon a img {
        width: 25px;
        height: 25px;
    }

    .home-link a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .brand {
        font-size: 30px;
    }
}